<form action="/comprar" method="POST"> 
    <p>Moeda:</p>
    <input type="text" name="moeda">
    <p>Quantidade:</p>
    <textarea name="quantidade"></textarea>
    <button name="comprar">comprar</button>

</form>